<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Agenda</title>
</head>
<body>
    <div id="menus"> 
        <h5 class="menu_dia" >Casa</h5>
        <h5 class="menu_dia" >Serviço</h5>   
        <h1 style="position:absolute;text-align:center;left:45%;margin-top:15px;">Agenda</h1>
    </div>
   <section>
        <p>Tarefa Concluida</p>
        <input type="checkbox">
   </section>
    
    
</body>
</html>