*{
    margin:0;
    padding:0;
}
body{
    background-size:cover;
    box-sizing:border-box;
    border: solid .1px transparent;
}
#menus{
    display:flex;
    background:rgba(161, 159, 159, 0);
    width:100%;
    padding:3px 3px 0 3px;
    height:53px;
    position:fixed;
    
}
.menu_dia{
    text-align:center;
    color:rgb(254, 254, 254);
    width:100px;
    font-size:20px;
    padding:10px 5px;
    word-wrap:wrap;
    margin: 5px 3px 0 0;
   

}
.menu_dia:hover{
    /*background: linear-gradient(red,blue,green);*/
    background:linear-gradient(45deg, rgba(255, 0, 0, 0.781),blue);  
    border-radius:15px 15px 0 0;
   
}